<clickhouse>    
    <users>
        <{{ clickhouse_connect_user }}>
            <password>{{ clickhouse_connect_password }}</password>
        </{{ clickhouse_connect_user }}>
    </users>
</clickhouse>